* {
  font-family: "Jetbrains Mono Nerd Font";
  font-weight: 500;
  font-size: 14px;
  color: #dcdfe1;
}

/* old color background-color: rgba(15,27,53,0.9); */
#waybar {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}

/* solo */
#clock,
#mode,
#workspaces,
#window,
#custom-user,
#tray {
  background-color: rgba(32, 32, 32, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 4px 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
}


/* right */
#user,
#temperature,
#custom-script,
#custom-power{
  background-color: rgba(32, 32, 32, 0.8);

  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 6px;
  padding: 4px 2px;
  border-radius: 0 10px 10px 0;
}

/* left */
#network,
#cpu,
#custom-browser,
#custom-lock{
  background-color: rgba(32, 32, 32, 0.8);

  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 6px;
  padding: 4px 2px;
  border-radius: 10px 0 0 10px;
}

/* mid */
#custom-reboot,
#disk,
#custom-memory,
#bluetooth,
#battery,
#pulseaudio,
#backlight,
#custom-terminal,
#user{
  background-color: rgba(32, 32, 32, 0.8);

  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  margin-top: 6px;
  margin-bottom: 6px;
  padding: 4px 2px;
}

#custom-temperature.critical,
#pulseaudio.muted {
  color: #FF0000;
  padding-top: 0;
}

#bluetooth:hover,
#network:hover,
#backlight:hover,
#battery:hover,
#pulseaudio:hover,
#custom-temperature:hover,
#memory:hover,
#cpu:hover,
#custom-memory:hover,
#disk:hover,
#temperature:hover,
#custom-user:hover,
#clock:hover,
#custom-lock:hover,
#custom-reboot:hover,
#custom-power:hover,
#custom-browser:hover,
#custom-terminal:hover,
#window:hover {
  background-color: rgba(70, 75, 90, 0.9);
}

#workspaces button:hover{
  background-color: rgba(97, 175, 239, 0.2);
  padding: 2px 8px;
  margin: 0 2px;
  border-radius: 10px;
}

#workspaces button.active {
  background-color: #61afef;
  color: #ffffff;
  padding: 2px 8px;
  margin: 0 2px;
  border-radius: 10px;
}

#workspaces button {
  background: transparent;
  border: none;
  color: #888888;
  padding: 2px 8px;
  margin: 0 2px;
  font-weight: bold;
}

#window {
  font-weight: 500;
  font-style: italic;
}

window#waybar.empty #window {
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: transparent;
}

#workspaces button.focused {
  background-color: rgba(100, 100, 100, 0.9);
}
